h3{
    font-family: 'Lobster', cursive;
    color: white;
    background: black;
    border-radius: 25px;
    padding: 5px;
    text-align: center;
}
h4{
    font-family: 'Lobster', cursive;
    font-size: 18px;
    font-weight: bold;
}
em{
    color: rgb(117, 117, 117);
}
.Meaning{
    margin: 25px 0;
}
.definitions{
    margin: 25px;
}
p{
    margin: 15px;
}
.definitionText{
    font-size: 20px;
}